<?xml version="1.0" encoding="utf-8"?>
<AdhesiveConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <ApplicationName>AdhesiveMongodbWeb</ApplicationName>
    <LocalLoggingServiceLevel>Info</LocalLoggingServiceLevel>
    <WcfConfigServiceAddress>127.0.0.1:18888/WcfConfigService</WcfConfigServiceAddress>
    <MongodbServiceAddress>127.0.0.1.171:17777/MongodbService</MongodbServiceAddress>
    <ConfigServiceAddress>127.0.0.1:18989/ConfigService</ConfigServiceAddress>
    <StateServiceDefaultReportStateIntervalMilliSeconds>60000</StateServiceDefaultReportStateIntervalMilliSeconds>
</AdhesiveConfig>