<?xml version="1.0" encoding="utf-8"?>
<AdhesiveConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <ApplicationName>AdhesiveMongodbServerWindowsServiceHost</ApplicationName>
  <LocalLoggingServiceLevel>Info</LocalLoggingServiceLevel>
  <WcfConfigServiceAddress>127.0.0.1:18888/WcfConfigService</WcfConfigServiceAddress>
  <ConfigServiceAddress>127.0.0.1:18989/ConfigService</ConfigServiceAddress>
  <MongodbServiceAddress>127.0.0.1:17777/MongodbService</MongodbServiceAddress>
  <StateServiceDefaultReportStateIntervalMilliSeconds>60000</StateServiceDefaultReportStateIntervalMilliSeconds>
</AdhesiveConfig>