<?xml version="1.0" encoding="utf-8"?>
<AdhesiveConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <ApplicationName />
  <ClearLocalLogWhenStart>false</ClearLocalLogWhenStart>
  <LocalLoggingServiceLevel>Info</LocalLoggingServiceLevel>
  <WcfConfigServiceAddress>localhost:18888/WcfConfigService</WcfConfigServiceAddress>
  <MongodbServiceAddress>localhost:12345/MongodbService</MongodbServiceAddress>
  <ConfigServiceAddress>localhost:18989/ConfigService</ConfigServiceAddress>
  <StateServiceDefaultReportStateIntervalMilliSeconds>10000</StateServiceDefaultReportStateIntervalMilliSeconds>
</AdhesiveConfig>